:root{
  --principal---h1: 5vh;
  --principal---h2: 2vw;
  --principal---top-bar: 36px;
  --principal---p: 18px;

  --all--left-margin: 2em;
}

@keyframes fadeIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    transform: translateX(-50%);
  }
  10% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  80% {
    transform: translateX(50%);
    opacity: 0;
  }
  100%{
    transform: translateX(50%);
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
  }
  100% {
    opacity: 1;
    pointer-events: all;
  }
}

/*e*/

html {
  line-height: 1.4;
  background-color: rgb(14, 11, 14);
  font-optical-sizing: auto;
}

.splashscren{
    opacity: 0;
    animation: 4s cubic-bezier(.25,.9,.75,.1) 0s 1 fadeOut forwards;
    position: fixed;

    width: 100vw;
    height: 100vh;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    row-gap: 0;

    font-size: clamp(0.7rem, 2.5vmin, 3vmin);
}

.splashscren > *{
  margin: 0;
}

.main-container{
  pointer-events: none;
  opacity: 0;
  animation: 0.4s linear 3.4s 1 fadeIn forwards;

  width: 92vw;
  height: 90vh;

  position: fixed;
  top: 3vh;
  left: 2vw;

  padding-left: 15px;
  padding-top: 20px;

  border: white 1px solid;
}

.header-container {
  display: flex;
  flex-direction: column;

  margin-bottom: 50px;
}

.header-text{
  font-style: normal;

  width: 88vw;
  max-width: 50rem;

  font-size: clamp(0.8rem, 2.5vmin, 3vmin);
}

.header-text > *{
  margin: 0;
}


.manrope-H1 {
  font-family: "Manrope", sans-serif;
  font-weight: 200;

  background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(100,100,100,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.work-sans-H2 {
  font-family: "Work Sans", sans-serif;
  font-weight: 100;

  font-size: 1.2em;

  background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(100,100,100,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.manrope-P {
  width: 88vw;
  max-width: 40rem;

  font-family: "Manrope", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: clamp(0.8rem, 1.8vmin, 2vmin);

  color: white;
}

/* Social Icons */

.socials-container {
  /*
  opacity: 0;
  animation: 1s ease-out 2s 1 fadeIn forwards;*/

  display: flex;
  flex-wrap: wrap;

  row-gap: 1em;
  column-gap: 6vw;

  width: 70vw;
  max-width: 20cm;
  margin-top: -1.5em;
  margin-bottom: 1.5em;
}

.social-icon{
  width: clamp(30px, 5vw, 56px);
  height: clamp(30px, 5vw, 56px);
}

.social-icon > div{
  background: rgba(255, 255, 255, 0);
  transition: transform 0.2s cubic-bezier(.27,.72,.37,.81), background 0.2s linear;
  z-index: 1;
  pointer-events: none;
}

.social-icon > button{
  transition: transform 0.2s cubic-bezier(.27,.72,.37,.81);
}

.social-icon:hover > *{
  cursor:pointer;
  transform: translate(10px, -10px) rotate(20deg);
}

.social-icon:hover > div{
  background: white;
}

.icon-svg{
  width: inherit;
  height: inherit;
  position: absolute;
}

.linkedin-ico{
  background: radial-gradient(75% 75% at 50% 50%, #FFFFFFFF 0%, #FFFFFFFF 30%, #3278FF 50%);
  -webkit-mask: url(/svg/linkedin.svg) no-repeat center;
}

.github-ico{
  background: linear-gradient(0deg, #FFFFFFFF 0%, #FFFFFFFF 36%, #333333 67%, #333333 100%);
  -webkit-mask: url(/svg/octocat.svg) no-repeat center;
}

.instagram-ico{
  background: conic-gradient(from 180deg at 50% 50%, #ff3d00 1%, #ffa800 10%, #ff3d00 29%, #2e0cff 61%, #ff3d00 92%);
  -webkit-mask: url(/svg/instagram.svg) no-repeat center;
}

.yt-ico{
  background: radial-gradient(75% 75% at 50% 50%, #FFFFFFFF 24%, #FF0000FF 40%);
  -webkit-mask: url(/svg/yt.svg) no-repeat center;
}

.resume-ico{
  background: conic-gradient(from 0deg at 50% 50%, #FFFFFFFF 0%, #C98D6C 14%, #2474BE 74%, #FFFFFFFF 84%);;
  -webkit-mask: url(/svg/resume.svg) no-repeat center;
}
