---
const { name, description, id } = Astro.props;

const route = `/projects/${id}`;
---

<a class="container-project" href={route}>
    <h3>{name}</h3>
    <p style="color: var(--secondary-color)">{description}</p>
</a>

<!-- ------ Local style ------ -->

<style>
    .container-project {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        text-decoration: none;

        margin-left: 10px;
        margin-top: 2rem;
        max-width: 700px;

        background: linear-gradient(170deg, var(--background), var(--background), var(--background), #070707);
        border-radius: 10px;
        padding: 10px;

        transition: filter 0.2s;
    }

    .container-project:hover {
        filter: drop-shadow(0px 0px 20px #000000);
    }

    .container-project > * {
        margin: 0;
    }
</style>
