---
import "../styles/global.css";

import Layout from "../layouts/layout.astro";
---

<Layout pageTitle="about">
  <p>WIP</p>
  <svg id="signature" width="175" viewBox="0 0 239 120" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path id="path-1"
        d="M20.6513 34.6023C20.6513 34.6023 20.1512 34.1847 12.6512 34.1023C5.15116 34.0199 2.15112 34.6023 1.65125 35.1023C1.15139 35.6023 50.1513 23.1023 88.6513 15.6023C127.151 8.10229 162.151 3.60229 163.151 4.10229C164.151 4.60229 164.651 1.60229 164.651 1.60229"
        stroke="#ffece7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
    <path id="path-2"
        d="M59.1514 27.1023C59.1514 27.1023 59.6514 30.6023 59.1514 31.1023C58.6514 31.6023 47.6514 46.6023 35.1514 68.1023C22.6514 89.6023 8.65137 112.102 8.65137 112.602C8.65137 113.102 8.15135 112.602 8.15137 112.102C8.15139 111.602 65.4722 100.775 91.1514 97.1023C116.831 93.4293 158.151 88.1023 158.151 88.1023"
        stroke="#ffece7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
    <path id="path-3"
        d="M22.1514 70.1023C22.1514 70.1023 23.6789 69.8161 24.6514 69.6023C25.6238 69.3886 51.7677 57.2093 52.6514 56.1023C53.535 54.9953 44.655 62.4618 44.1514 62.6023"
        stroke="#ffece7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
    <path id="path-4"
        d="M48.1514 88.6023C55.6408 82.8204 64.1021 74.4314 57.6514 95.1023C56.5087 98.764 66.1514 90.1023 74.1514 67.6023C71.1514 73.1023 74.2168 73.3674 194.717 51.8674"
        stroke="#ffece7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
    <path id="path-5"
        d="M71.1514 85.6061C73.2579 88.1144 79.5306 80.8686 77.6522 80.6063C75.7737 80.344 68.1514 91.3685 73.1514 91.1042C82.6505 90.6022 85.1514 78.6042 84.1514 81.1042C83.1514 83.6042 80.9824 87.985 83.1521 89.6063C86.6514 86.1041 91.6514 79.6041 96.6514 79.1042C91.5216 78.5623 86.6668 85.3934 90.6521 88.1042C93.85 88.7693 95.1514 84.1042 98.1514 80.6042C97.7062 81.2646 95.6514 87.8819 98.6514 87.6042C101.651 87.3266 105.545 80.8248 106.151 78.6042C106.758 76.3837 103.651 83.6042 105.151 86.6042C112.151 78.1041 119.75 74.8095 118.651 74.6041C117.352 74.3612 107.482 82.858 111.651 85.6041C121.151 88.6041 131.601 36.7445 133.651 37.1042C135.701 37.4639 115.223 81.1869 120.151 83.6042C125.08 86.0214 128.651 76.855 129.651 75.5407C130.651 74.2263 122.651 80.8694 127.151 83.6041C131.651 86.3389 139.151 77.1042 135.151 74.1042C131.151 71.1042 125.37 80.8508 131.651 78.6042C136.717 76.7925 136.217 77.2671 142.717 74.1042"
        stroke="#ffece7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
    <path id="path-6"
        d="M146.755 81.3977C155.755 70.8349 167.216 32.6682 166.216 32.3349C165.216 32.0015 151.755 81.8977 150.255 81.3977C148.755 80.8977 157.216 67.8349 159.216 69.8349C161.216 71.8349 157.086 81.3977 158.586 79.8977C162.562 71.9051 172.255 68.8977 171.255 67.8978C170.255 66.8978 160.255 76.8977 164.255 78.8977C173.647 83.5935 185.255 28.8977 186.255 30.3977C187.255 31.8977 168.755 72.8977 172.755 76.8977C175.793 78.9884 185.265 67.1764 184.255 66.8978C183.246 66.6191 175.255 75.8978 178.755 76.3978C182.255 76.8978 192.755 63.8978 192.755 67.8978C192.46 70.2758 178.255 93.3977 137.257 118.398C136.122 118.418 185.423 79.5831 237.257 66.3973C241.755 66.3973 84.849 111.05 87.7567 112.898"
        stroke="#ffece7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
  </svg>
</Layout>


<style>
  
</style>

<script>
  import { gsap } from "gsap";
  import DrawSVGPlugin from "gsap/DrawSVGPlugin";

  gsap.registerPlugin(DrawSVGPlugin) 

  const tl = gsap.timeline();

  tl.from("#path-1", {
      duration: 0.25,
      drawSVG: 0,
      ease: "power1.in",
  });

  tl.from("#path-2", {
      duration: 0.25,
      drawSVG: 0,
      ease: "power1.in",
  });

  tl.from("#path-3", {
      duration: 0.15,
      drawSVG: 0,
      ease: "power1.in",
  });

  tl.from("#path-4", {
      duration: 0.5,
      drawSVG: 0,
      ease: "power1.in",
  });

  tl.from("#path-5", {
      duration: 0.75,
      drawSVG: 0,
      ease: "power1.in",
  });

  tl.from("#path-6", {
      duration: 0.75,
      drawSVG: 0,
      ease: "power1.in",
  });
</script>