---
import '../styles/global.css'

import StandardLayout from '../layouts/StandardLayout.astro';
---

<StandardLayout pageTitle="blog">
		<div class="hero">
			<h1>blog & more</h1>
			<p>
				WIP
			</p>
		</div>


</StandardLayout>

<!-- ------ Local style ------ -->

<style>
	.hero {
		text-align: left;
		width: 90%;
		max-width: 725px;
	}
	.hero h1 {margin: 1% 0;}
	.hero h2 {margin: 0 auto 20px;}

</style>