---
import '../styles/global.css'
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout pageTitle="projects">
		<div class="hero">
			<h1>projects</h1>
			<p>
				WIP
			</p>
		</div>


</BaseLayout>

<style>
	.hero {
		text-align: left;
		width: 90%;
		max-width: 725px;
	}
	.hero h1 {margin: 1% 0;}
	.hero h2 {margin: 0 auto 20px;}

</style>