---
const { githubLink, blogLink } = Astro.props;

import BtnGithub from "./btn-github.astro";
import BtnBlog from "./btn-blog.astro";
---

<div class="detailedProject">
  <slot name="title" />

  <BtnGithub link={githubLink} />

  <div class="content">
    <div class="description">
      <slot name="description" />
      <BtnBlog link={blogLink} />
    </div>

    <slot name="image" />
  </div>

  <style>
    .detailedProject {
      text-align: center;
      gap: 25px;
    }

    .content {
      flex-direction: column-reverse;
      gap: 25px;
    }

    .description {
      gap: 30px;
    }

    @media screen and (min-width: 1000px) {
    .content {
        flex-direction: row;
        gap: 50px;
    }
  }
  </style>
</div>
