<nav class="nav">
    <a href="/" >home</a>
    <a href="/resume/">resume</a>
    <a href="/projects/">projects</a>
    <a href="/blog/">blog & more</a>
</nav>

<!-- ------ Local style ------ -->

<style>
    .nav {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        padding: 2rem;

        font-size: var(--navbar-mobile);

        backdrop-filter: blur(25px);

    }

    .nav a {
        text-decoration: none;
        color: var(--secondary-color);

        transition: color .2s ease;
    }

    .nav a:hover {
        color: var(--primary-color);
    }

    @media screen and (min-width: 636px) {
        .nav {
            gap: 4rem;
            font-size: var(--navbar-desktop);
        }
    }
</style>

<script>
    document.addEventListener('astro:page-load', () => {
        const nav = document.querySelector('.nav');
        const links = nav.querySelectorAll('a');

        links.forEach(a => {
            if (a.href === window.location.href) {
                a.style.color = 'var(--primary-color)';
            }            
        });
    });

</script>
