---
const { name, description } = Astro.props;

import Socials from "./Socials.astro";
---

<div class="container-project">
    <h3>{name}</h3>
    <p style="color: var(--secondary-color)">{description}</p>
</div>

<style>
    .container-project {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        margin-left: 10px;
        margin-top: 2rem;
        max-width: 700px;

        background: linear-gradient(170deg, var(--background), var(--background), var(--background), #070707);
        border-radius: 10px;
        padding: 10px;

        transition: filter 0.2s;
    }

    .container-project:hover {
        filter: drop-shadow(0px 0px 20px #000000);
    }

    .container-project > * {
        margin: 0;
    }
</style>
