---
import { ViewTransitions } from "astro:transitions";

import "../styles/global.css";

import Socials from "../components/Socials.astro";

const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/contour-integral.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>

    <ViewTransitions />
  </head>

  <body>
    <nav transition:name="nav">
      <a href="/">home</a>
      <a href="/resume/">resume</a>
      <a href="/projects/">projects</a>
      <a href="/blog/">blog & more</a>
    </nav>

    <div class="content">
      <slot />
    </div>

    <footer transition:name="footer">
      <Socials size="40" styleGap="big" focusMail />

      <p>© 2025 | Ramón Everardo Hernández Hernández</p>
    </footer>
  </body>
</html>

<!-- ------ Local style ------ -->

<style>
  /* #region Navbar */
  nav {
    flex-direction: row;
    gap: 2rem;
    padding: 2rem;

    font-size: var(--navbar-mobile);
    backdrop-filter: blur(25px);
  }

  nav a {
    text-decoration: none;
    color: var(--secondary-color);
    transition: color 0.2s ease;
  }

  nav a:hover {
    color: var(--primary-color);
  }

  @media screen and (min-width: 636px) {
    nav {
      gap: 4rem;
      font-size: var(--navbar-desktop);
    }
  }

  /* #endregion */

  /* #region Content */
  .content {
    margin-top: 2.25rem;
    gap: 100px;
    padding: 0 clamp(3.125rem, -22.917rem + 46.296vw, 18.75rem); /* Min 50px and Max 300px, with Viewport from 900px to 1440px */
  }

  @media screen and (min-width: 636px) {
    .content {margin-top: 7.25rem;}
  }
  /* #endregion */

  /* #region Footer */
  footer {
    padding: 2rem;
    gap: 5px;
  }
  /* #endregion */
</style>
